body {
    margin: 0;
    overflow-x: hidden
}

@media only screen and (min-width:600px) {
    .container-main {
        grid-gap: 15px;
        grid-column-gap: 30px;
        -webkit-column-gap: 30px;
        column-gap: 30px;
        display: grid;
        gap: 15px;
        grid-template-areas: ". title" ". info" ". description" ". footer";
        grid-template-columns: 210px 1fr;
        grid-template-columns: calc(var(--box-width)*7) 1fr;
        grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content 1fr;
        grid-template-rows: min-content min-content min-content 1fr
    }

    .left-bar {
        height: 100vh;
        position: fixed;
        width: -webkit-max-content;
        width: max-content
    }

    [id^=box_] {
        -webkit-animation-duration: 1.3s;
        animation-duration: 1.3s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-name: slideLeft;
        animation-name: slideLeft;
        -webkit-animation-timing-function: cubic-bezier(.75, 0, .25, 1);
        animation-timing-function: cubic-bezier(.75, 0, .25, 1);
        display: block;
        float: left;
        height: 100vh;
        position: relative;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        width: 120vw
    }

    #box_a {
        -webkit-animation-delay: .1s;
        animation-delay: .1s;
        background-color: #0f80f1;
        z-index: 3
    }

    #box_b {
        -webkit-animation-delay: .2s;
        animation-delay: .2s;
        background-color: #58a1eb;
        left: -90px;
        left: calc(var(--box-width)*-3);
        z-index: 2
    }

    #box_c {
        -webkit-animation-delay: .3s;
        animation-delay: .3s;
        background-color: #7db5ee;
        left: -180px;
        left: calc(var(--box-width)*-3*2);
        z-index: 1
    }

    #box_d {
        -webkit-animation-delay: .4s;
        animation-delay: .4s;
        background-color: #98c1eb;
        left: -270px;
        left: calc(var(--box-width)*-3*3)
    }

    .info {
        grid-template-areas: "text image";
        width: 500px
    }

    .hours_info {
        width: 60vw;
    }

    @-webkit-keyframes slideLeft {
        0% {
            width: 120vw
        }

        to {
            width: 120px;
            width: calc(var(--box-width)*4)
        }
    }

    @keyframes slideLeft {
        0% {
            width: 120vw
        }

        to {
            width: 120px;
            width: calc(var(--box-width)*4)
        }
    }
}

@media only screen and (max-width:600px) {
    .container-main {
        grid-gap: 15px;
        display: grid;
        gap: 15px;
        grid-template-areas: "." "title" "info" "description" "footer";
        grid-template-rows: 150px -webkit-min-content -webkit-min-content 1fr;
        grid-template-rows: 150px min-content min-content 1fr;
        grid-template-rows: calc(var(--box-width)*5) -webkit-min-content -webkit-min-content 1fr;
        grid-template-rows: calc(var(--box-width)*5) min-content min-content 1fr
    }

    .left-bar {
        height: 100vh;
        width: -webkit-max-content;
        width: max-content
    }

    [id^=box_] {
        -webkit-animation-duration: 1.3s;
        animation-duration: 1.3s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-name: slideLeft;
        animation-name: slideLeft;
        -webkit-animation-timing-function: cubic-bezier(.75, 0, .25, 1);
        animation-timing-function: cubic-bezier(.75, 0, .25, 1);
        display: block;
        height: 300vh;
        position: relative;
        width: 100vw
    }

    #box_a {
        -webkit-animation-delay: .1s;
        animation-delay: .1s;
        background-color: #0f80f1;
        z-index: 3
    }

    #box_b {
        -webkit-animation-delay: .2s;
        animation-delay: .2s;
        background-color: #58a1eb;
        top: -30px;
        top: calc(var(--box-width)*-1);
        z-index: 2
    }

    #box_c {
        -webkit-animation-delay: .3s;
        animation-delay: .3s;
        background-color: #7db5ee;
        top: -60px;
        top: calc(var(--box-width)*-1*2);
        z-index: 1
    }

    #box_d {
        -webkit-animation-delay: .4s;
        animation-delay: .4s;
        background-color: #98c1eb;
        top: -90px;
        top: calc(var(--box-width)*-1*3)
    }

    .info {
        grid-template-areas: "image" "text";
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        justify-self: center
    }

    .hours_info {
        width: 80vw;
        justify-self: center
    }

    @-webkit-keyframes slideLeft {
        0% {
            height: 300vh
        }

        to {
            height: 60px;
            height: calc(var(--box-width)*2)
        }
    }

    @keyframes slideLeft {
        0% {
            height: 300vh
        }

        to {
            height: 60px;
            height: calc(var(--box-width)*2)
        }
    }
}

.hours_info {
    grid-gap: 10px;
    background-color: #a1c3e5;
    border-radius: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(24, auto);
    grid-template-rows: auto;
    overflow: auto;
    padding: 10px;
    white-space: nowrap;
}

#pop .material-symbols-outlined {
    font-size: 80%
}

#sky .material-symbols-outlined {
    font-size: 250%
}

#hour_info {
    grid-gap: 10px;
    background-color: #91b5dd;
    border-radius: 10px;
    display: grid;
    gap: 10px;
    grid-template-areas: "time" "sky" "temp" "pop";
    justify-items: center;
    padding: 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

#time {
    grid-area: time
}

#sky {
    grid-area: sky;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

#temp {
    font-size: large;
    font-weight: 700;
    grid-area: temp
}

#pop {
    grid-area: pop
}

.title {
    -webkit-animation: fadeIn .7s ease-out 1.3s 1 normal forwards;
    animation: fadeIn .7s ease-out 1.3s 1 normal forwards;
    font-size: 35px;
    font-weight: 800;
    grid-area: title;
    margin: 40px 0 0 20px;
    opacity: 0
}

.subtitle,
.title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.info {
    grid-column-gap: 20px;
    -webkit-animation: fadeIn .5s ease-out 1.3s 1 normal forwards;
    animation: fadeIn .5s ease-out 1.3s 1 normal forwards;
    background-color: #a1c3e5;
    border-radius: 30px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    display: grid;
    grid-area: info;
    grid-template-columns: repeat(auto-fit, minmax(200px, 330px));
    margin: 10px;
    opacity: 0;
    padding: 30px;
    z-index: -100
}

#detail_info {
    -webkit-animation: fadeIn 1s ease-out 2s 1 normal forwards;
    animation: fadeIn 1s ease-out 2s 1 normal forwards;
    grid-area: detail;
    opacity: 0
}

.description {
    -webkit-animation: fadeIn 1s ease-out 2.5s 1 normal forwards;
    animation: fadeIn 1s ease-out 2.5s 1 normal forwards;
    display: grid;
    grid-area: description
}

.description,
.footer {
    margin: 10px;
    opacity: 0
}

.footer {
    -webkit-animation: fadeIn 1s ease-out 3s 1 normal forwards;
    animation: fadeIn 1s ease-out 3s 1 normal forwards;
    grid-area: footer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

[id^=icon_] {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-timing-function: cubic-bezier(.65, 0, .25, 1.5);
    animation-timing-function: cubic-bezier(.65, 0, .25, 1.5);
    border-radius: 50px;
    position: relative;
    scale: 0
}

[id^=icon_].hide {
    scale: 0
}

[id^=ic_temp_] {
    height: -webkit-min-content;
    height: min-content;
    position: absolute;
    width: -webkit-min-content;
    width: min-content
}

#icon_c_c1.show {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    background-color: #ededed;
    box-shadow: 0 0 2px 1px #ededed;
    height: 100px;
    width: 100px;
    z-index: -2
}

#icon_c_c2.show {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
    background-color: #d6d6d6;
    box-shadow: 0 0 2px 1px #d6d6d6;
    height: 60px;
    top: -100px;
    -webkit-transform: translate(30px, 40px);
    transform: translate(30px, 40px);
    width: 120px;
    z-index: -3
}

#icon_r_r1.show {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
    background-color: #668efb;
    height: 80px;
    right: -50px;
    top: 60px
}

#icon_r_r1.show,
#icon_r_r2.show {
    -webkit-animation-name: stretchY;
    animation-name: stretchY;
    box-shadow: 0 0 2px 1px #5a86ff;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    width: 6px
}

#icon_r_r2.show {
    -webkit-animation-delay: 1.85s;
    animation-delay: 1.85s;
    background-color: #799dff;
    height: 50px;
    right: -30px;
    top: -20px
}

#icon_r_r3.show {
    background-color: #5a86ff;
    height: 60px;
    right: -70px;
    top: -50px
}

#icon_r_r3.show,
#icon_r_r4.show {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
    -webkit-animation-name: stretchY;
    animation-name: stretchY;
    box-shadow: 0 0 2px 1px #5a86ff;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    width: 6px
}

#icon_r_r4.show {
    background-color: #799dff;
    height: 70px;
    right: -100px;
    top: -120px
}

#icon_i_i1.show {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
    background-color: #9bf0fc;
    box-shadow: 0 0 20px 2px #9bf0fc;
    height: 20px;
    right: -50px;
    top: 100px;
    width: 20px
}

#icon_i_i1.show,
#icon_i_i2.show {
    -webkit-animation-name: stretchY;
    animation-name: stretchY
}

#icon_i_i2.show {
    -webkit-animation-delay: 1.85s;
    animation-delay: 1.85s;
    background-color: #b0f6ff;
    box-shadow: 0 0 20px 2px #b0f6ff;
    height: 15px;
    right: -30px;
    top: 60px;
    width: 15px;
    z-index: -1
}

#icon_i_i3.show {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
    -webkit-animation-name: stretchY;
    animation-name: stretchY;
    background-color: #83eefd;
    box-shadow: 0 0 10px 3px #83eefd;
    height: 10px;
    right: -70px;
    top: 50px;
    width: 10px
}

#icon_i_i4.show {
    background-color: #b0f6ff;
    box-shadow: 0 0 10px 3px #b0f6ff;
    height: 15px;
    right: -100px;
    width: 15px;
    z-index: -1
}

#icon_i_i4.show,
#icon_i_i5.show {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
    -webkit-animation-name: stretchY;
    animation-name: stretchY;
    top: 40px
}

#icon_i_i5.show {
    background-color: #83eefd;
    box-shadow: 0 0 10px 3px #83eefd;
    height: 10px;
    right: -80px;
    width: 10px
}

#icon_i_i6.show {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
    -webkit-animation-name: stretchY;
    animation-name: stretchY;
    background-color: #b0f6ff;
    box-shadow: 0 0 10px 3px #b0f6ff;
    height: 15px;
    right: -100px;
    top: 40px;
    width: 15px;
    z-index: -1
}

#icon_s_s.show {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
    background-color: #fff94a;
    box-shadow: 0 0 20px 2px #fff94a;
    height: 80px;
    right: -60px;
    width: 80px;
    z-index: -4
}

#icon_s_s1.show {
    top: -45px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}

#icon_s_s1.show,
#icon_s_s2.show {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
    background-color: #ffe600;
    box-shadow: 0 0 20px 2px #ffe600;
    height: 10px;
    right: -50px;
    width: 100px;
    z-index: -5
}

#icon_s_s2.show {
    top: -55px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

#icon_s_s3.show {
    top: -65px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

#icon_s_s3.show,
#icon_s_s4.show {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
    background-color: #ffe600;
    box-shadow: 0 0 20px 2px #ffe600;
    height: 10px;
    right: -50px;
    width: 100px;
    z-index: -5
}

#icon_s_s4.show {
    top: -75px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

#image_info {
    grid-area: image;
    height: 150px
}

#text_info {
    -webkit-animation: fadeIn 1s ease-out 2s 1 normal forwards;
    animation: fadeIn 1s ease-out 2s 1 normal forwards;
    grid-area: text;
    opacity: 0;
    position: relative
}

#info_detail {
    font-size: 20px
}

:root {
    --box-width: 30px
}

@-webkit-keyframes zoomIn {
    0% {
        scale: 0
    }

    to {
        scale: 100%
    }
}

@keyframes zoomIn {
    0% {
        scale: 0
    }

    to {
        scale: 100%
    }
}

@-webkit-keyframes stretchY {
    0% {
        scale: 0 10%
    }

    to {
        scale: 100% 100%
    }
}

@keyframes stretchY {
    0% {
        scale: 0 10%
    }

    to {
        scale: 100% 100%
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}