body {
    margin: 0;
    overflow-x: hidden;
}

button {
    font-family: 'NanumSquareNeo';
    border: 3px solid black;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    background-color: #ACDEFF;
}

button:hover {
    background-color: #A0D0F0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto 1fr auto 1fr;
    grid-template-areas: 
        'game .'
        'game state'
        'game gameBtn'
        'game .'
        'game footer'
        'game .';
    gap: 30px;
    align-items: center;
    margin: 20px;
}

.tab-game {
    position: relative;
    display: grid;
    grid-area: game;
    justify-self: end;
    justify-items: center;
    align-content: start;

    animation: showR 1s ease-in-out 0s 1 normal forwards;
}

.tab-state {
    position: relative;
    grid-area: state;
    justify-self: start;

    animation: showL 1s ease-in-out 0s 1 normal forwards;
}

.tab-game-btn {
    position: relative;
    grid-area: gameBtn;
    text-align: center;
    justify-self: start;

    animation: showL 1s ease-in-out 0s 1 normal forwards;
}

.tab-footer {
    position: relative;
    grid-area: footer;
    justify-self: start;
    text-align: center;

    animation: showL 1s ease-in-out 0s 1 normal forwards;
}

.container-table {
    width: fit-content;
    padding: 5px;
    background-color: #daba7d;
    border: 3px solid black;
    box-shadow: 0 0 7px gray;
}

.box-canvas {
    position: absolute;
    z-index: 1;
}

.gameTable {
    position: absolute;
    z-index: 2;
    width: fit-content;
}

table {
    display: inline-table;
    border-spacing: 0;
}

td {
    padding: 0;
    width: var(--block-size);
    height: var(--block-size);
    border-radius: 50%;
}
td:hover {
    opacity: 0.6;
    background-color: #c0a060;
}

.cursor {
    position: relative;
    border: 2.5px solid black;
    border-radius: 50%;
    box-shadow: 0 0 2px gray;
    top: calc(var(--block-size) * 7);
    z-index: 3;
    transform-origin: calc(var(--block-size) * 0.5) calc(var(--block-size) * 0.5);
    transform: scale(1.3);
}

#addStone {
    box-shadow: 0 0 5px gray;
    border-color: white;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

:root {
    --block-size: 32px;
}

@keyframes showR {
    from {
        opacity: 0;
        left: -200px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}

@keyframes showL {
    from {
        opacity: 0;
        left: 200px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}