body {
    margin: 0;
}

button {
    font-family: 'NanumSquareNeo';
    border: 3px solid black;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    background-color: #ACDEFF;
}

button:hover {
    background-color: #A0D0F0;
}

.container {
    display: grid;
    text-align: center;
    justify-items: center;
    gap: 20px;
}

.container-table {
    width: fit-content;
    padding: 5px;
    background-color: #daba7d;
    border: 3px solid black;
    box-shadow: 0 0 7px gray;
}

.box-canvas {
    position: absolute;
    z-index: 1;
}

.gameTable {
    position: absolute;
    z-index: 2;
    width: fit-content;
}

table {
    display: inline-table;
    border-spacing: 0;
}

td {
    padding: 0;
    width: var(--block-size);
    height: var(--block-size);
}
td:hover {
    opacity: 0.6;
    background-color: #c0a060;
}

.cursor {
    position: relative;
    border: 2.5px solid black;
    border-radius: 50%;
    box-shadow: 0 0 2px gray;
    top: calc(var(--block-size) * 7);
    z-index: 3;
    transform-origin: calc(var(--block-size) * 0.5) calc(var(--block-size) * 0.5);
    transform: scale(1.3);
}

#addStone {
    box-shadow: 0 0 10px gray;
    border-color: white;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

:root {
    --block-size: 32px;
}