body {
    margin: 0;
}

button {
    font-family: '나눔스퀘어 네오 Regular';
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background-color: #ACDEFF;
}

button:hover {
    background-color: #A0D0F0;
}

.box-canvas {
    position: absolute;
    z-index: -1;
}

#gameCanvas {
    padding: 5px;
    background-color: #daba7d;
}

.container {
    width: fit-content;
}

.gameTable {
    padding: 5px;
    width: fit-content;
}

table {
    display: inline-table;
    border-collapse: collapse;
}

td {
    padding: 0;
    width: var(--block-size);
    height: var(--block-size);
}
td:hover {
    opacity: 0.6;
    background-color: #c0a060;
}

:root {
    --block-size: 25px;
}