body {
    background-color: #ABCDEF;
    font-family: "나눔스퀘어 네오 Regular";
}

body::-webkit-scrollbar {
    width: 0;
}

/*
body::-webkit-scrollbar-thumb {
    height: 30%;
    background: #70b1f1; 
    
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: #829cb87c;
}

body::-webkit-scrollbar-corner {
    background: #70b1f1;
}*/