

input[type=file] {
    display: none;
}

label[for=eng-listen] {
    cursor: pointer;
    padding: 10px;
    box-shadow: 0 0 2px gray;
    border-radius: 5px;
    background-color: #AFCFEF;
}

#upload-name {
    width: max-content;
    padding: 10px;
    border-radius: 5px;
    overflow-x: scroll;
}

.container {
    width: fit-content;
    display: grid;
    gap: 20px;
    justify-items: center;
}

[class^=box] {
    background-color: #A0C0E0;
    border-radius: 5px;
    padding: 15px;
    place-self: stretch stretch;
}

.box-time {
    grid-area: time;
}

.box-table {
    grid-area: table;
}

.table-content {
    width: fit-content;
    display: grid;
    gap: 5px;
    justify-self: center;
}

@media only screen and (max-width: 600px) {
    .table-content {
        grid-template-areas: 
            'tc1'
            'tc2';
        justify-items: left;
    }

    .container {
        grid-template-areas: 
        'time listen'
        'table table'
        'option option';
    }
}

@media only screen and (min-width: 600px) {
    .table-content {
        grid-template-areas: 
            'tc1 tc2';
        justify-items: center;
    }

    .container {
        grid-template-areas: 
        'time time'
        'table listen'
        'option option';
    }
}

.tc1 {
    grid-area: tc1;
    width: fit-content;
    text-align: left;
}

.tc2 {
    grid-area: tc2;
    width: fit-content;
    text-align: left;
}

.box-lis {
    grid-area: listen;
}

.box-opt {
    grid-area: option;
}