body {
    background-color: #0B2D4F;
    overflow-x: hidden;
}

p {
    color: white;
}

button {
    padding: 10px;
    color: white;
    font-family: 'NanumSquareNeo';
    box-shadow: 0 0 5px white;
    background-color: #0B2D4F;
    border: 2px solid white;
    border-radius: 5px;
}
button:hover {
    background-color: #2B4D6F;
}

.snowflake {
    z-index: -1;
    padding: 20px;
    position: absolute;
    top: -110px;
    animation-name: fall;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.realSnow {
    border-radius: 50%;
    background-color: white;
}

@keyframes fall {
    from {}
    to {
        transform: translateY(98vh);
        opacity: 0;
    }
}