body {
    background-color: #ABCDEF;
    margin: 30px;
    text-align: center;
}

p#title {
    font-size: 50px;
    font-weight: bolder;
    padding: 10px;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}