body {
    margin: 0;
}

.wrapper-screen {
    position: absolute;
    z-index: 1;
    opacity: 0.2;
    display: none;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

/* 전체 사이트 구조 */
.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        "menu content"
        "menu footer";
    gap: 20px;
}

/* 메뉴 */
.box-menu {
    grid-area: menu;
    height: 100vh;
    z-index: 2;
}
.box-menu.hide {
    animation-name: hideX;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
.box-menu.show {
    animation-name: showX;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.menu {
    box-sizing: border-box;
    font-family: 'Material Icons';
    padding: 10px;
    height: 100%;
    float: left;
    background-color: #A0C0E0;
    user-select: none;
}
.menu:hover {
    background-color: #98B8D8;
    cursor: pointer;
}

.menu-side {
    box-sizing: border-box;
    position: absolute;
    background-color: #a0c0e0;
    width: var(--menu-width);
    height: 100%;
    line-height: 150%;
    padding: 10px;
    transform: translateX(-100%);
}

li.item:hover {
    background-color: #98B8D8;
    cursor: pointer;
    user-select: none;
}

/* 내용 */
.box-content {
    grid-area: content;
}

#title {
    font-family: "NanumSquareNeo";
    font-weight: 600;
    font-size: 29px;
    padding: 10px 15px;
}

.box-content > [class^=content] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.box-content > [class^=content].show {
    animation-name: appear;
    animation-duration: 250ms;
    animation-delay: 250ms;
    animation-fill-mode: forwards;
}
.box-content > [class^=content].hide {
    animation-name: fade;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

/* 푸터 */
.footer {
    grid-area: footer;
    font-size: 90%;
    margin-right: 10px;
    text-align: right;
    color: rgb(85, 85, 85);
}

/* 변수 */
:root {
    --menu-width: 200px;
}

/* 애니메이션 */
@keyframes showX {
    from { transform: translateX(0); }
    to { transform: translateX(var(--menu-width)); }
}

@keyframes hideX {
    from { transform: translateX(var(--menu-width)); }
    to { transform: translateX(0); }
}

@keyframes fade {
    from { opacity: 1; z-index: 0; }
    to { opacity: 0; z-index: -1; }
}

@keyframes appear {
    from { opacity: 0; z-index: -1; }
    to { opacity: 1; z-index: 0; }
}