body {
    margin: 0;
    overflow-x: hidden;
}

.container-main {
    display: grid;
    grid-template-rows: calc(5 * var(--box-width)) min-content min-content 1fr;
    grid-template-areas: 
        '.'
        'title'
        'info'
        'description'
        'footer';
    gap: 15px;
}

.title {
    margin: 20px;
    grid-area: title;
    font-size: 35px;
    font-weight: 800;
}

.left-bar {
    width: max-content;
    height: 100vh;
}

.info {
    margin: 30px 15px;
    grid-area: info;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'text image';
}

.description {
    margin: 10px;
    grid-area: description;
    opacity: 0;
    animation: fadeIn 1s ease-out 2.5s 1 normal forwards;
}

.footer {
    grid-area: footer;
    margin: 10px;
    opacity: 0;
    animation: fadeIn 1s ease-out 3s 1 normal forwards;
}

[id^=box_] {
    display: block;
    height: 300vh;
    width: 100vw;
    position: relative;
    transform: skewY(-10deg);
    transform-origin: 0 0;
    animation-name: slideLeft;
    animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}

[id^=icon_] {
    position: absolute;
    border-radius: 50px;
    scale: 0;
    animation-name: zoomIn;
    animation-timing-function: cubic-bezier(0.65, 0, 0.25, 1.5);
    animation-fill-mode: forwards;
    animation-duration: 500ms;
}

#box_a {
    background-color: #0f80f1;
    animation-delay: 100ms;
    z-index: 3;
}

#box_b {
    background-color: #58a1eb;
    top: calc(-1 * var(--box-width));
    animation-delay: 200ms;
    z-index: 2;
}

#box_c {
    background-color: #7db5ee;
    top: calc(-1 * var(--box-width) * 2);
    animation-delay: 300ms;
    z-index: 1;
}

#box_d {
    background-color: #98c1eb;
    top: calc(-1 * var(--box-width) * 3);
    animation-delay: 400ms;
}

#icon_g_c1.show {
    background-color: white;
    width: 100px;
    height: 100px;
    animation-delay: 1500ms;
}
#icon_g_c2.show {
    background-color: #f0f0f0;
    width: 120px;
    height: 60px;
    transform: translate(30px, 40px);
    animation-delay: 1600ms;
    z-index: -1;
}
#icon_g_s.show {
    background-color: #ffe600;
    width: 80px;
    height: 80px;
    transform: translateX(60px);
    animation-delay: 1800ms;
    z-index: -2;
}

#icon_r_c1.show {
    background-color: white;
    width: 100px;
    height: 100px;
    transform: translate(0, -10px);
    animation-delay: 1500ms;
    z-index: -1;
}
#icon_r_c2.show {
    background-color: #f0f0f0;
    width: 120px;
    height: 60px;
    transform: translate(30px, 30px);
    animation-delay: 1600ms;
    z-index: -2;
}
#icon_r_r1.show {
    background-color: #799dff;
    width: 6px;
    height: 80px;
    transform: skewX(-20deg) translate(85px, 45px);
    animation-name: stretchY;
    animation-delay: 1800ms;
}
#icon_r_r2.show {
    background-color: #799dff;
    width: 6px;
    height: 60px;
    transform: skewX(-20deg) translate(60px, 55px);
    animation-name: stretchY;
    animation-delay: 1850ms;
}
#icon_r_r3.show {
    background-color: #799dff;
    width: 6px;
    height: 60px;
    transform: skewX(-20deg) translate(120px, 65px);
    animation-name: stretchY;
    animation-delay: 1900ms;
}

#icon_t_c1.show {
    background-color: white;
    width: 100px;
    height: 100px;
    animation-delay: 1500ms;
    z-index: -1;
}
#icon_t_c2.show {
    background-color: #f0f0f0;
    width: 120px;
    height: 60px;
    transform: translate(30px, 40px);
    animation-delay: 1600ms;
    z-index: -2;
}
#icon_t_t.show {
    background-color: #00000000;
    border-radius: 0;
    scale: 0;
    transform: scale(0.6, 0.5) translate(100px, -110px);
    animation-delay: 1800ms;
}
#icon_t_t.hide {
    transform: scale(0);
}

#small_th {
    background-color: #00000000;
    width: 80px;
    height: 120px;
    box-shadow: 0px 20px #ffe600;
    border-radius: 0;
    transform: skewX(-30deg);
}
#bl1 {
    background-color: #00000000;
    width: 0;
    height: 0;
    border-top: 120px solid #ffe600;
    border-left: 30px solid transparent;
    border-radius: 0;
    transform: skewX(-40deg) translate(-30px, 0px);
}
#bl2 {
    background-color: #00000000;
    width: 0;
    height: 0;
    border-bottom: 120px solid #ffe600;
    border-right: 30px solid transparent;
    border-radius: 0;
    transform: skewX(-40deg) translate(-190px, -220px);
}

#image_info {
    grid-area: image;
}

#text_info {
    grid-area: text;
    position: relative;
    opacity: 0;
    animation: fadeIn 1s ease-out 2s 1 normal forwards;
}

#info_locate {
    font-size: 20px;
}

:root {
    --box-width: 40px;
}

@keyframes slideLeft {
    from {
        height: 300vh;
    }
    to {
        height: calc(2 * var(--box-width));
    }
}

@keyframes zoomIn {
    from {
        scale: 0;
    }
    to {
        scale: 100%;
    }
}

@keyframes stretchY {
    from {
        scale: 0% 10%;
    }
    to {
        scale: 100% 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}