body {
    margin: 0;
    overflow-x: hidden;
}

.container-main {
    display: grid;
    grid-template-rows: calc(5 * var(--box-width)) 1fr min-content 1fr;
    grid-template-areas: 
        '.'
        'title'
        'info'
        'description';
    gap: 15px;
}

.title {
    margin: 20px;
    grid-area: title;
    font-weight: 800;
}

.left-bar {
    width: max-content;
    height: 100vh;
}

.info {
    margin: 10px;
    grid-area: info;

    display: grid;
    grid-template-areas: 'text image';
}

.description {
    margin: 10px;
    grid-area: description;
    opacity: 0;
    animation: fadeIn 1s ease-out 2.5s 1 normal forwards;
}

[id^=box_] {
    display: block;
    height: 300vh;
    width: 100vw;
    position: relative;
    transform: skewY(-10deg);
    transform-origin: 0 0;
    animation-name: slideLeft;
    animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}

[id^=icon_] {
    background-color: white;
    position: relative;
    border-radius: 50px;
    transform: scale(0);
    animation-name: zoomIn;
    animation-timing-function: cubic-bezier(0.65, 0, 0.25, 1.5);
    animation-fill-mode: forwards;
    animation-duration: 500ms;
}

#box_a {
    background-color: #0f80f1;
    animation-delay: 100ms;
    z-index: 3;
}

#box_b {
    background-color: #58a1eb;
    top: calc(-1 * var(--box-width));
    animation-delay: 200ms;
    z-index: 2;
}

#box_c {
    background-color: #7db5ee;
    top: calc(-1 * var(--box-width) * 2);
    animation-delay: 300ms;
    z-index: 1;
}

#box_d {
    background-color: #98c1eb;
    top: calc(-1 * var(--box-width) * 3);
    animation-delay: 400ms;
}

#icon_c1 {
    width: 100px;
    height: 100px;
    animation-delay: 1500ms;
}

#icon_c2 {
    background-color: #f0f0f0;
    width: 120px;
    height: 60px;
    left: 30px;
    bottom: 60px;
    animation-delay: 1600ms;
    z-index: -1;
}

#icon_s {
    background-color: #ffe600;
    width: 80px;
    height: 80px;
    left: 70px;
    bottom: 180px;
    animation-delay: 1800ms;
    z-index: -2;
}

#image_info {
    grid-area: image;
}

#text_info {
    grid-area: text;
    position: relative;
    opacity: 0;
    animation: fadeIn 1s ease-out 2s 1 normal forwards;
}

#info_description {
    font-size: 20px;
}

:root {
    --box-width: 40px;
}

@keyframes slideLeft {
    from {
        height: 300vh;
    }
    to {
        height: calc(2 * var(--box-width));
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(100%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}